

body {
	font-family: "Outfit", sans-serif;
	font-weight: 600;
	padding-right: 0px !important;
	overflow: inherit !important;
}

.bokd_pic {
	text-align: center;
	position: relative;
}

.bokd_pic img {
	width: 60% !important;
	object-fit: contain;
	padding-top: 0px;
	position: absolute;
	left: 81px;
	right: 0;
	top: 41px;
}

#cardrow4 {
	align-items: stretch;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	width: "200%";
}

.App {
	/* font-family: cursive; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

h3 {
	font-weight: 200;
}

.textitem {
	font-family: "Outfit", sans-serif !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	font-size: 17px;
	
}

#textitem {
	color: black;
	font-weight: 600;
	font-size: 12px;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

.seperator {
	width: 100%;
}

.controls-wrapper {
	width: 100%;
}

.carousel-wrapper {
	width: 100% !important;
}

.rec-carousel-item:focus {
	outline: none;
	box-shadow: inset 0 0 1px 0px violet;
}

@media only screen and (max-width: 600px) {
	/* body {
        background-color: red;
    } */
	.car_mn2 canvas {
		/* margin-left: 145px !important; */
		height: auto !important;
		width: 80% !important;
		margin: 0 auto !important;
		text-align: center;
		margin-top: 22px !important;
	}
	#cardrow {
		margin-top: 10px !important;
		align-items: stretch;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		width: "200%";
		padding-left: 0px;
	}
	#cardrow2 {
		align-items: stretch;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		width: "200%";
		padding-left: 18px;
	}
}

#viewform {
	width: 100% !important;
}

.card {
	background: #ffff;
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 10px;
	min-height: 250px !important;
	object-fit: cover;
	width: 96%;
}

.inputdata {
	/* margin: 0 24px 0px 0px;
    /* padding: 25px 20px 10px 25px; */
	padding-left: 10px;
	width: 100%;
	height: 50px !important;
	text-align: left;
	border: none;
	border-radius: 5px;
	font: 400 14px "Outfit", sans-serif;
	background-color: #f2f3f5;
	color: #7a7979 !important;
	font-weight: bold;
}

/*--thank you pop starts here--*/

/* .thank-you-pop {
}
 
.thank-you-pop img {
    width: 76px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
}
 
 
.thank-you-pop h1 {
    font-size: 42px;
    margin-bottom: 25px;
    color: #5c5c5c;
}
 
.thank-you-pop p {
    font-size: 20px;
    margin-bottom: 27px;
    color: #5c5c5c;
}
 
.thank-you-pop h3.cupon-pop {
    font-size: 25px;
    margin-bottom: 40px;
    color: #222;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border: 2px dashed #222;
    clear: both;
    font-weight: normal;
}
 
.thank-you-pop h3.cupon-pop span {
    color: #03a9f4;
}
 
.thank-you-pop a {
    display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8bc34a;
    border-radius: 17px;
}
 
.thank-you-pop a i {
    margin-right: 5px;
    color: #fff;
}
 
#ignismyModal .modal-header {
    border: 0px;
} */

#pic_hit {
	width: 100%;
	min-height: 234px;
}

#pic_hit1 {
	width: 100%;
	max-height: 350px;
	margin-top: 10px;
	object-fit: cover;
	height: 350px !important;
}

#exclusive {
	padding-top: 117px;
}

#pic_hit3 {
	min-height: 252px;
}

/*--thank you pop ends here--*/

span {
	text-align: left !important;
	/* font-family: cursive !important; */
}

#searcgbtn {
	text-align: center !important;
	padding: 10px 55px !important;
	color: #fff;
	display: inline-block;
	font: 700 14px "Outfit", sans-serif;
	/* border-radius: 30px; */
	margin-top: 45px;
	margin-left: 50px;
}

#searcgbtn:hover {
	color: #fff !important;
}

#searcgbtn span {
	background: none !important;
	color: #fff;
}

.data22 {
	display: inline-block !important;
	border: solid 2px #797878;
	width: 18px;
	height: 18px;
	margin-left: -12px !important;
	margin-top: 10px !important;
	padding-top: 4px !important;
	position: absolute;
}

.b-auto__main-item2 {
	border-radius: 40px;
}

#card4 {
	padding: 4px;
	width: 420px !important;
	min-height: 370px;
	border-radius: 50px !important;
	background: #212121;
	transition: 0.4s;
	object-fit: cover;
	margin: 13px;
}

#exclusiimg {
	width: 30 !important;
	padding: 50px !important;
}

#arrowiconbtn {
	margin-top: 0px;
	padding: 0px;
}

.form-check-label {
	margin-top: 0 !important;
	font-size: 12px !important;
	font-weight: 600 !important;
	color: #000 !important;
	padding-left: 20px !important;
}

.btn:focus,
.btn:active,
button:focus,
button:active {
	outline: none !important;
	box-shadow: none !important;
}

#procedbtn {
	padding: 10px 24px;
	margin-top: 30px;
	float: right;
}

#image-gallery .modal-footer {
	display: block;
	/* max-height: 90% !important;
    max-width: 100% !important; */
}

.thumb {
	margin-top: 15px;
	margin-bottom: 15px;
}

#filtersection {
	height: 50%;
	background-color: black;
}

#selectdata {
	width: 100% !important;
	font-size: 15px;
	border-radius: 4px;
	padding: 0px 3px;
	margin-bottom: 15px;
	font: 400 14px "Open Sans", sans-serif;
}

.iMqSPA {
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	direction: ltr;
	padding: 20px 10px !important;
}

#slider_img {
	border: none;
}

.mdl_wd {
	--bs-modal-width: 1000px;
	width: 1000px;
}

#aboutlogo_img {
	width: 40% !important;
	/* height: 60% !important; */
	/* border: 3px solid gray; */
	/* margin-left: 120px; */
	border-radius: 1em;
	/* object-fit: cover; */
}

.info_hit {
	padding: 0 10px;
	padding-bottom: 0px !important;
	margin-top: 64px !important;
	float: left !important;
}

#viewform {
	background-color: #252525 !important;
	border-radius: 5px;
	height: 30%;
	margin-left: 70px !important;
	margin-top: 60px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 20px;
	width: 20% !important;
	padding-bottom: 10px;
}

/* card cars detals in home page */

.card2 {
	/* padding: 4px; */
	/* width: 100%; */
	min-height: 370px;
	/* border-radius: 20px; */
	/* background: #212121; */
	transition: 0.4s;
	/* object-fit: cover; */
	margin: 15px 0;
	border: 1px solid rgb(221, 223, 226);
	background: #fff !important;
}

.card3 {
	padding: 4px;
	width: 320px;
	min-height: 370px;
	border-radius: 12px;
	background: #212121;
	transition: 0.4s;
	object-fit: cover;
	margin: 13px;
	/* border: 1px solid rgb(239, 241, 244); */
}

.card2:hover {
	translate: 0 -10px;
	box-shadow: 5px 5px 8px #b3b3b3, -5px -5px 8px #b3b3b3;
}

.card3:hover {
	translate: 0 -10px;
	box-shadow: rgb(227 220 220 / 30%) -3px -3px 10px -3px;
}

.card-title2 {
	font-size: 18px;
	font-weight: 600;
	color: #b2eccf;
	margin: 15px 0 0 10px;
}

.card-image2 {
	max-width: 900%;
	background-color: white;
	/* border-radius: 15px; */
	background: #313131;
	/* box-shadow: 5px 5px 8px #b3b3b3, -5px -5px 8px #b3b3b3; */
}

#imagestock {
	margin-top: 80px;
	width: 40% !important;
	height: 50% !important;
	object-fit: cover;
}

.responsive {
	width: 100%;
	height: auto;
}

.card-body2 {
	margin: 13px 0 0 10px;
	color: rgb(184, 184, 184);
	font-size: 15px;
}

.footer2 {
	float: right;
	margin: 28px 0 0 18px;
	font-size: 13px;
	color: #b3b3b3;
}

.by-name2 {
	font-weight: 700;
}

#fliterbutton {
	margin: 0 auto;
	text-align: center;
}

.btnn1 {
	width: 194px;
	margin-left: 0px;
	background-color: rgb(247, 109, 43) !important;
	color: #fff !important;
	border: none !important;
	padding: 11px 35px;
	margin-top: 20px;
}

.m-home .b-welcome {
	background-image: none;
	padding-bottom: 80px;
}

/* filter dropdown */

.drup_mn2 {
	width: 100%;
	margin-top: 0px;
	background: #ededed;
	padding: 8px 0 4px 12px;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border: solid 1px #d7d6d6;
}

.drup_mn1 ul {
	margin: 0;
	padding: 0;
}

.drup_mn2 ul li {
	list-style: none;
	display: inline;
}

#selectdata2 {
	width: 100px;
	font-size: 10px;
	color: #000;
	border-radius: 4px;
	margin: 0 5px 0 5px;
	padding: 7px 3px;
	margin-bottom: 7px;
}

#cardrow2 {
	padding: 0px;
	margin: 0px;
}

#selectdata3 {
	width: 175px;
	font-size: 10px;
	color: #000;
	border-radius: 4px;
	margin: 0 5px 0 5px;
	padding: 7px 3px;
	margin-bottom: 7px;
}

.flt_btn {
	width: 100%;
}

@media screen and (max-width: 896px) {
	header {
		align-items: center;
		background-color: #222;
		display: block !important;
		font-family: Open Sans, sans-serif;
		font-size: 14px !important;
		height: auto !important;
		justify-content: space-between;
		padding: 10px !important;
	}
	.nv_rt {
		float: right;
		margin-bottom: 14px;
		text-align: center;
		top: 12px;
		width: 100%;
		position: inherit;
	}
	.b-topbar-social ul li {
		display: inline-block;
		margin-top: 0;
		vertical-align: bottom;
	}
	.b-topbar-social ul {
		text-align: center;
	}
	.b-topBarsocial-wrapper a {
		float: left;
		padding: 10px 0 0 14px;
		margin-right: 2px;
		color: #fff;
		height: auto;
		padding-top: 0;
		margin-top: 0 !important;
	}
	.slid_logo {
		padding: 60px 0;
		background: #000;
	}
	.b-info__contacts,
	.b-info__map {
		margin-left: 15px;
		margin-bottom: 0;
		margin-top: 20px;
	}
	.b-info__map {
		width: 264px;
		height: auto;
		text-align: center;
	}
	.cd_sul1 {
		width: 50% !important;
	}
	.container {
		width: 95% !important;
	}
	.mb_view {
		margin-top: 160px;
		font-size: 20px;
	}
	.container,
	.container-md,
	.container-sm {
		max-width: 95% !important;
	}
	.b-submit__aside-step-inner {
		padding: 20px 0px 5px 7px;
		background: #444;
		position: relative;
		height: 69px;
	}
	.b-pageHeader {
		margin-top: 75px !important;
		padding: 50px 0 !important;
	}
	#viewform {
		background-color: #252525 !important;
		border-radius: 5px;
		height: 30%;
		margin-left: 140px !important;
		margin-top: 20px !important;
		padding: 20px 4px 10px;
		width: 70% !important;
		margin: 0 auto;
		text-align: center;
	}
	#searchdata {
		margin-bottom: 10px;
	}
	.b-features__items li {
		list-style: none;
		font: 700 18px "Outfit", sans-serif;
		padding: 0 15px 0 0;
		margin-right: 15px !important;
		border-right: 3px solid #fff;
	}
	.b-brands {
		padding: 20px 0 20px 0;
		text-align: center;
	}
	.s-title {
		font: 700 24px "Open Sans", sans-serif;
		margin: 0 0 20px 0;
		padding: 0 15px;
		border-left: 4px solid #f76d2b;
		border-right: 4px solid #f76d2b;
		text-transform: uppercase;
		display: inline-block;
		letter-spacing: 1px;
	}
	.m-home .b-homeAuto__latest {
		text-align: left;
		margin-right: 15px;
		margin-top: 200px;
	}
	.b-submit {
		padding: 30px 0 30px 0;
	}
	.btn_wd1 {
		display: inline-block;
		width: 100%;
		float: right;
		text-align: right;
		margin-bottom: 15px;
	}
	.logo_tb {
		width: 9%;
		padding-bottom: 10px;
	}
	.m-home .b-asks {
		padding: 30px 0 30px 0;
		position: relative;
		border-bottom: 1px solid #eeeeee;
		text-align: center;
	}
	.b-pageHeader__search {
		text-align: center;
	}
	.carousel-item {
		margin-right: 0;
	}
	.b-slider img {
		margin-left: 0px !important;
		max-height: 250px;
		object-fit: contain;
	}
	.m-home .b-homeAuto {
		padding: 25px 0 0px 0;
		position: relative;
		z-index: 100;
	}
	.form1 .form_front1 {
		border: 1px solid #343434;
		border-radius: 15px;
		box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
		margin: 0 auto;
		padding: 40px 0;
		width: 94%;
	}
	.hid_on {
		display: inline;
		width: 194px;
		margin: 0 6px 0 0 !important;
		line-height: 28px;
	}
	.mdl_wd {
		--bs-modal-width: 94%;
		width: 94%;
	}
	.rate_ts_mn ul li {
		list-style: none;
		display: inline-block;
		margin: 0 4px 0px 0px;
		font-size: 12px;
	}

.sli_pic{}

}

@media screen and (max-width: 480px) {

	.sli_pic{}

	#fixed-social {
		position: fixed;
		top: 174px;
		right: 0;
		z-index: 99999;
		display: inline;
	}
	.sld_log_mob {
		background: #000;
		padding: 0 !important;
	}
	.bag_clr2 {
		background: #fff;
		border: 1px solid #dddfe2 !important;
		border-radius: 15px !important;
		height: 70% !important;
		margin-bottom: 15px;
		margin-left: 15px;
		padding: 2px;
		width: 93% !important;
	}
	.sld_mb_pic img {
		height: 270px !important;
		max-height: 270px !important;
	}
	.b-features__items li {
		border-right: 0;
		font: 700 18px Outfit, sans-serif;
		list-style: none;
		margin-right: 15px !important;
		padding: 0 15px 0 0;
		float: left !important;
		border-left: 0;
	}
	.b-pageHeader__search {
		display: none;
	}
	.m-home .b-homeAuto__latest {
		margin-right: 15px;
		margin-top: 0;
		text-align: left;
	}
	.s-title {
		border-left: 4px solid #f76d2b;
		border-right: 4px solid #f76d2b;
		display: inline-block;
		font: 700 18px Open Sans, sans-serif;
		letter-spacing: 1px;
		margin: 0 0 20px;
		padding: 0 15px;
		text-transform: uppercase;
	}
	.sld_log_mob {
		margin-top: 60px !important;
	}
	.b-brands__brand {
		display: inline-block !important;
		width: 28% !important;
		margin: 0 16px 10px 0 !important;
	}
	.rate_ts_mn {
		text-align: left;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.excul_mob {
		text-align: left;
		text-transform: uppercase;
		margin-left: 6px;
	}
	.excul_mob ul {
	}
	.excul_mob ul li {
		display: inline-block;
		margin: 0 0px 0 0;
	}
	.mobl_tx_aln1 {
	}
	.mobl_tx_aln1 ul {
		padding-left: 2px;
	}
	.mobl_tx_aln1 li {
		display: inline-block;
	}
	.car_fll_pic {
		display: block !important;
	}
	.vehicles_mn {
		background: #fff;
		width: 93% !important;
		border-radius: 15px;
		margin-left: 15px;
		height: 70%;
		padding: 2px;
		border: 1px solid rgb(221, 223, 226);
		margin-bottom: 15px;
	}
	.b-pageHeader {
		height: 51px !important;
		background-size: cover;
		margin-top: 54px !important;
		padding: 3px 0 !important;
	}
	#selectdata {
		width: 98% !important;
		font-size: 17px;
		margin: 0 0 4px 3px;
	}
	#viewform {
		margin-left: 1px !important;
		margin-top: 0px !important;
		padding-bottom: 15px;
	}
	#fliterbutton {
		margin-top: 19px;
		margin-left: 0px !important;
		text-align: center !important;
		align-items: center !important;
		display: inherit !important;
	}
	.b-auto__main-item img {
		transition: 0.2s all ease-in-out;
		margin-bottom: 0px;
		border-radius: 12px !important;
		height: 120px !important;
		object-fit: cover;
		width: 40% !important;
		text-align: left;
		float: left;
		margin-right: 10px;
	}
	.card2 {
		min-height: auto;
		transition: 0.4s;
		margin: 15px 0;
		border: 1px solid rgb(221, 223, 226);
	}
	.b-auto__main-item {
		padding-bottom: 0;
		border-bottom: 1px solid #b4b4b4;
		position: relative;
		margin-bottom: 0px;
	}
	.rate_ts_mn ul li {
		list-style: none;
		display: inline-block;
		margin: 0 5px 0px 0px;
	}
	.drup_mn1 {
		width: 100%;
		padding: 0 0 0 0px;
		margin-top: 15px;
	}
	.drup_mn1 ul {
		margin: 0;
		padding: 0;
	}
	.drup_mn1 ul li {
		list-style: none;
		display: inline;
		margin: 0 auto;
	}
	#selectdata2 {
		width: 108px;
		font-size: 10px;
		color: #000;
		border-radius: 4px;
		margin: 0 5px 0 5px;
		padding: 7px 3px;
		margin-bottom: 7px;
	}
	#selectdata3 {
		width: 100px;
		font-size: 10px;
		color: #000;
		border-radius: 4px;
		margin: 0 5px 0 5px;
		padding: 7px 3px;
		margin-bottom: 7px;
		margin-top: 15px;
	}
	.notdatafound23 {
		margin-top: 39px !important;
		max-height: 52px !important;
		height: 144% !important;
		width: 93% !important;
		/* font-weight: 800 !important; */
		color: white;
		font-size: 10px !important;
		background-color: dimgrey;
		text-align: -webkit-center;
		margin: 0 auto;
		font: 100 12px "Open Sans", sans-serif;
	}
	.notdatafound23 h2 {
		font-size: 15px !important;
	}
	.notdatafound {
		margin-top: 39px !important;
		max-height: 52px !important;
		height: 144% !important;
		width: 93% !important;
		/* font-weight: 800 !important; */
		color: white;
		background-color: dimgrey;
		text-align: center;
		margin: 0 auto;
		font: 600 12px "Open Sans", sans-serif;
	}
	.notdatafound h2 {
		font-size: 14px;
	}
	.b-items {
		padding: 0px 0 20px 0;
	}
	#searcgbtn {
		text-align: center !important;
		padding: 10px 40px !important;
		color: #fff;
		display: inline-block;
		font: 700 14px "Outfit", sans-serif;
		margin-top: 0px;
		margin-left: 50px;
	}
	.iFvrtY {
		box-sizing: border-box;
		padding: 0px;
		transition: all 250ms ease 0s;
		border: none;
		margin: 5px;
		background: #f76d2b !important;
		font-size: 1.3em;
		content: "";
		height: 12px;
		width: 12px;
		box-shadow: rgb(242 107 42) 0px 0px 1px 3px !important;
		border-radius: 50%;
		outline: none;
	}
	.bXxycX {
		box-sizing: border-box;
		padding: 0px;
		transition: all 250ms ease 0s;
		border: none;
		margin: 5px;
		background: transparent;
		font-size: 1.3em;
		content: "";
		height: 12px !important;
		width: 12px !important;
		box-shadow: rgb(245 108 43) 0px 0px 1px 2px !important;
		border-radius: 50%;
		outline: none;
	}
	.icon-style {
		background-color: black;
		border: 2px solid #fff;
		border-radius: 50%;
		height: 50px;
		width: 50px;
		color: #fff;
		cursor: pointer;
		/* animation: movebtn 3s ease-in-out infinite; */
		transition: all 0.5s ease-in-out;
		z-index: 999 !important;
	}
	.m-home .b-welcome {
		background-image: none;
		width: 100% !important;
		padding-bottom: 85px !important;
	}
	.m-home .b-welcome {
		background-image: none;
		width: 100% !important;
		padding-bottom: 25px !important;
	}
	#procedbtn {
		padding: 10px 24px;
		margin-top: 5px;
	}
	.drup_mn2 {
		width: 100%;
		margin-top: 0px;
		background: inherit;
		padding: 0;
		border-radius: 5px;
		box-shadow: none;
		border: none;
	}
	.getng_t_text p {
		font-size: 27px;
		font-weight: bolder;
		line-height: 30px;
	}
	.lazy {
		width: 45%;
	}
	.b-nav__logo {
		padding: 0;
		text-transform: uppercase;
	}
	.b-nav__logo img {
		margin-left: 10px;
	}
	.inputdata {
		padding-left: 10px;
		width: 100%;
		height: 40px !important;
		text-align: left;
		border: none;
		border-radius: 5px;
		font: 400 14px "Outfit", sans-serif;
		background-color: #f2f3f5;
	}
	.b-search__main-form select {
		width: 100%;
		height: 40px !important;
	}
	.b-search__main-form select + span.fa {
		top: 12px;
		right: 33px;
		position: absolute;
	}
	.notdatafound img {
		width: 60% !important;
	}
	.notdatafound p {
		text-align: center;
		margin-top: 10px;
		font-size: 16px !important;
	}
	.b-detail {
		padding: 0px 0 0px 0 !important;
	}
}

@media screen and (max-width: 370px) {
	.notdatafound {
		color: black;
		margin-left: 0px;
		width: 100%;
		text-align: center;
	}
	.notdatafound p {
		text-align: center;
		margin-top: 10px;
		font-size: 21px;
	}
	.notdatafound img {
		width: 29%;
	}
}

@media screen and (max-width: 2561px) and (min-width: 1900px) {
	.cr_pic img {
		max-height: 400px;
		height: 400px !important;
		object-fit: cover;
	}
}

.btn-sm {
	border: none;
	background-color: #f76d2b !important;
	color: #fff !important;
	padding: 10px 30px 10px !important;
	margin: 6px 0px 1px 0px;
	text-align: center;
	justify-content: center;
	margin-left: 0;
	font-size: 14px;
}

.phone_number {
	border: 1px solid #eee;
	border-radius: 30px;
	display: block;
	font: 400 13px Open Sans, sans-serif !important;
	margin-bottom: 15px;
	padding: 15px 20px;
	width: 100%;
	color: #444 !important;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px !important;
	background: #f7f7f7 !important;
}

#ser_hit1 {
	height: 129px;
}

.data {
	margin-top: 90% !important;
}

.amount_details {
	font-size: 17px;
	margin-left: 170px;
}

.amount_details2 {
	font-size: 17px;
	margin-left: 210px;
}

.imagmotors {
	width: 157px !important;
	margin: 0 30px;
	display: inline-block;
}

#stockimagep {
	max-height: 350px;
	height: 350px !important;
}
